.jumbotron {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);

}

#results {
    font-family: Brochure, Freshman;
    text-align: center;
    color: #ffffff
}

.display-2 {
    font-family: Brochure, Freshman;
    text-align: center;
    color: #ffffff;
}


.btn-primary btn-lg {
    text-align: center;

}

.question {
    font-weight: 900;
}

.next {
    display: block;
}

.form {
    margin: auto;
    max-width: 205px;
}



/* article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
} */
body {
    background-image: url("file:///Users/danmitchell/projects/workinhg/NFL-Wallpaper-For-Mac-Backgrounds.jpg");


}